*{
    font-family: Nunito;
    background-color: white;
}

/* LOGIN =======================================================================================*/

#login .buttonlong{
    background-color: #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border: 2px solid #FF7C04;
    border-radius: 10px;
    color: white;
    padding: 12px 35vw;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 86vw;
}
#login .buttonlong:hover{
    background-color: #fff4e4;
    color: #ff7c04;
}

#login .row{
    margin-left: 4vw;
    margin-right: 0vw;
}

#login img{
    height: 250px;
    width: 250px;
    margin-top: 13vh;
}

#login .col-sm-10{
    /* width: 100%; */
    padding-right: 7vw;
    padding-left: 3vw;
}
#login .form-control{
    padding: 0.5vh;
    border: 2px solid #ff7c04;
    border-radius: 0.6rem;
    box-shadow: none;
    padding-left: 0.5vw;
    padding-right: 1.5vw;
    margin-right: 6vw;
}
#login .col-form-label{
    font-family: Nunito;
    font-weight: bold;
    margin-left: -1vw;
}

/* EDIT MEJA =================================================================================================================== */

#editmejatitle{
    font-weight: 750;
    padding-left: 4vw;
    font-size: 28px;
}

#inputmeja{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.buttonsmall{
    width: 25%;
    background-color: #FF7C04;
    border: 2px solid #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border-radius: 10px;
    color: white;
    padding: 1.5vw 8vw;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 11vw;
}

.buttonsmall:hover{
    background-color: #fff4e4;
    color: #ff7c04;
}

#tboxNewTable{
    width: 65%;
    border: 2px solid #ff7c04;
    border-radius: 10px;
    padding: 1.5vw 3vw;
    height: 11vw;
}

#tboxNewTable:focus{
    outline: 1px solid #ff7c04;
}

.line{
    width: 90%;
    border: 1px solid #ff7c04;
}

.tableCard{
    padding-left: 5vw;
}

.tableCard h6{
    width: 90vw;
    height: 16vw;
    background: #ffe4cc;
    border-radius: 10px;
    padding: 10px;
    z-index: -1;
    color: black;
    font-weight: bold;
    padding: 5.5vmin;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tableCard h6 img{
    background: #ffe4cc;
}


/* EDIT KARYAWAN------------------------------------------------------------------------------------------- */



/* TAMBAH KARYAWAN----------------------------------------------------------------------------------------- */
#editkaryawantitle{
    font-weight: 750;
    padding-left: 4vw;
    font-size: 28px;
}

.buttonlong{
    background-color: #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border: 2px solid #FF7C04;
    border-radius: 10px;
    color: white;
    padding: 12px 35vw;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-left: 12,5%;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 90%;
    /* left: 10%; */
    margin-left: 5%;
    margin-top:50%;
}

.buttonlong:hover{
    background-color: #fff4e4;
    color: #ff7c04;
}

.tboxKaryawan{
    width: 90%;
    border: 2px solid #ff7c04;
    border-radius: 10px;
    padding: 1.5vw 3vw;
    height: 11vw;
    margin-left: 5%;
    margin-top:5%;
}

.tboxKaryawan:focus{
    outline: 1px solid #ff7c04;
}

#masukkan{
    font-weight: 500;
    padding-left: 4vw;
    font-size: 14px;
}

/* OWNER -------------------------------------------------------------------------------------- */

#owner .buttonowner{
    display: flex;
    flex-direction: column;
}

#owner .title{
    margin-top: 4vh;
    margin-left: 4vw;
    margin-bottom: 5vh;
}

#owner .title h1{
    font-size: 35px;
    font-weight: 900;
}

#owner .harian{
    margin-top: -3vh;
    margin-left: 4vw;
}

#owner .bulanan{
    margin-top: 20vh;
    margin-left: 4vw;
}

#owner .buttonowner #editkaryawan{
    background-color: #FF7C04;
    width: 90vw;
    height: 5vh;
    border-radius: 2vw;
    border-style: none;
    margin-bottom: 2vh;
    margin-top: 35vh;
    margin-left: 3vw;
}

#owner .buttonowner #editmeja{
    background-color: #FF7C04;
    width: 90vw;
    height: 5vh;
    border-radius: 2vw;
    border-style: none;
    margin-left: 3vw;
}

#owner input{
    width: 86vw;
    border-radius: 2vw;
    padding-left: 2vw;
    height: 4vh;
    font-family: Nunito;
    font-weight: bold;
    border: 1px solid #FF7C04;
}

#owner input:focus{
    outline: 2px solid #FF7C04;
}

#owner h5{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-bottom: 1vh;
    font-weight: 100;
}

#owner h6{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #FF7C04;
    font-size: 15px;
    margin: 0;
    color: white;
}

#owner h1{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
#owner ::-webkit-input-placeholder {
    margin-left: 5vw;
 }
::-webkit-calendar-picker-indicator {
    margin-right: 2vw;
}

/* LAPORAN HARIAN --------------------------------------------------------------------------------------------------------------- */
#laphariantitle{
    font-weight: 750;
    padding-left: 4vw;
    font-size: 28px;
}

/* #pemasukan{
    font-weight: 500;
    padding-left: 4vw;
    font-size: 14px;
} */



/* BAYAR ------------------------------------------------------------------------------------------------------------------------ */
#bayar .title h1{
    margin-left: 2vw;
    font-weight: 800;
    font-size: 9vw;
}

#bayar .title h2{
    margin-left: 2vw;
    font-size: 4.5vw;
}

#bayar table {
    font-family: Nunito;
    border-collapse: collapse;
    width: 114%;
}

#bayar  td, th {
    text-align: left;
    padding: 8px;
}

#bayar .title .garis{
    height: 0.4vh;
    width: 92vw;
    background-color: #FF7C04;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

#bayar .garisabu{
    height: 0.4vh;
    width: 92vw;
    background-color: gray;
    margin-left: 2vw;
    margin-top: 2vh;
}

#bayar #tboxbayar{
    width: 65%;
    border: 2px solid #ff7c04;
    border-radius: 10px;
    height: 3.5vh;
}

#bayar .pembayaran .flex2{
    margin-left: 2vw;
}

#bayar .pembayaran .flex2 .buttonok{
    width: 27%;
    background-color: #FF7C04;
    border: 2px solid #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 4.5vh;
    margin-left: 2vw;
}

#bayar .pembayaran .flex1 h4{
    margin-left: 2vw;
    margin-right: 2vw;
}

#bayar input{
    padding-left: 1.5vw;
}

#bayar .pembayaran .flex1{
    display: flex;
    justify-content:space-between;
}

#bayar .bawahflex .button .buttonbayar{
    width: 98%;
    background-color: #FF7C04;
    border: 2px solid #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 4.5vh;
    margin-left: 1vw;
}

#bayar .bawahflex{
    margin-top: 38vh;
}

#bayar .bawahflex .text{
    display: flex;
    justify-content:space-between;
}

#bayar .bawahflex .text h4{
    margin-left: 2vw;
    margin-right: 2vw;
}

/* MENU --------------------------------------------------------------------------------------------------------------------------- */

#menutitle{
    font-weight: 750;
    padding-left: 4vw;
    font-size: 32px;
}

#labelmenumeja{
    font-weight: 700;
    padding-left: 5vw;
    font-size: 20px;
    padding-top: 3vmin;
}

#sectionmenumeja{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttonpilihmeja{
    width: 40%;
    background-color: #FF7C04;
    border: 2px solid #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border-radius: 10px;
    color: white;
    padding: 1.5vw 8vw;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 10vw;
}

.buttonpilihmeja:hover{
    background-color: #fff4e4;
    color: #ff7c04;
}

#menukategori{
    width: 95%;
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
}

#menukategori label{
    margin-right: 10px;
}

/* HIDE RADIO */
[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

  /* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 5px solid #ffcc9c;
    border-radius: 10px;
}

#tboxMenuSearch{
    width: 65%;
    border: 2px solid #ff7c04;
    border-radius: 10px;
    padding: 1.5vw 3vw;
    height: 11vw;
}

#tboxMenuSearch:focus{
    outline: 1px solid #ff7c04;
}

.menuCard{
    padding-left: 4vw;
}

#menuCardPosition{
    display: flex;
    flex-direction: column;
    background: #ffe4cc;
}

#menuCardDetail{
    display: flex;
    flex-direction: row;
    background: #ffe4cc;
    justify-content: space-between;
    width: 81vw;
}

#inputJumlah{
    background: #ffe4cc;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.menuCard h6{
    width: 92vw;
    height: 33vmin;
    background: #ffe4cc;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    z-index: -1;
    color: black;
    font-weight: bold;
    padding: 5.5vmin;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuCard p{
    background: #ffe4cc;
}

#tboxNote{
    width: 92vw;
    border: 2px solid #ff7c04;
    border-radius: 0px 0px 10px 10px;
    padding: 1.5vw 3vw;
    height: 11vw;
    transform: translateY(-5vw);
}

#tboxNote:focus{
    outline: 1px solid #ff7c04;
}



#tboxJumlahMenu{
    width: 40%;
    border: 2px solid #ff7c04;
    border-radius: 10px;
    padding: 1.5vw 3vw;
    height: 10vw;
    transform: translate(0, 1vw);

}

#tboxJumlahMenu:focus{
    outline: 1px solid #ff7c04;
}

.buttonok{
    width: 25%;
    background-color: #FF7C04;
    border: 2px solid #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border-radius: 10px;
    color: white;
    padding: 1.5vw 5vw;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 10vw;
    transform: translate(1vw, 0);

}

.buttonok:hover{
    background-color: #fff4e4;
    color: #ff7c04;
}

/* Edit Pesanan ==================================================== */
#editpesanan .title h1{
    margin-left: 2vw;
    font-weight: 800;
    font-size: 9vw;
}

#editpesanan .title h2{
    margin-left: 2vw;
    font-size: 4.5vw;
}

#editpesanan table {
    font-family: Nunito;
    border-collapse: collapse;
    width: 100%;
}

#editpesanan  td, th {
    text-align: left;
    padding: 8px;
}

#editpesanan  td img{
    margin-left: 4vw;
}


#editpesanan .title .garis{
    height: 0.4vh;
    width: 92vw;
    background-color: #FF7C04;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

#editpesanan .garisabu{
    height: 0.4vh;
    width: 92vw;
    background-color: gray;
    margin-left: 2vw;
    margin-top: 2vh;
}

#editpesanan .bawahflex .button .buttonsimpan{
    width: 98%;
    background-color: #FF7C04;
    border: 2px solid #FF7C04;
    font-weight: bold;
    border-color: #FF7C04;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 4.5vh;
    margin-left: 1vw;
}

#editpesanan .bawahflex{
    margin-top: 57vh;
}




